/*
TO-FIX:
- 

STYLING IDEAS:
- Center all the junk (including image stinker on My Recipes)
- Recipe card (My Recipes)
- Hover links (My Recipes)
- h1 font stand out (all pages)

*/



/* GENERAL STYLES-----------------------------------------------------------------------------------------------------*/
body {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 243, 221, 1);
  min-height: 100vh;
  font-family: Georgia;
}

main {
  flex-grow: 1;
  margin: 2.5em;
}

nav {
  flex-shrink: 0;
  flex-grow: 0;
}

p {
  margin: .4em;
}

h1 {
  text-align: center;
  margin-bottom: 35px;
  font-family: "Verdana", sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

footer {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color:  rgb(87, 89, 104);
}

figure {
  
}

figcaption {
  text-align: center;
  margin: 7px;
  font-weight: bold;
  font-size: 1.25em;
}

img {
  width: 100%;
}

/* HOME PAGE -----------------------------------------------------------------------------------------------------*/
.mainPageContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 1em;
}
.masonry figure { /* Masonry bricks or child elements */
  background-color: rgb(42, 167, 158);
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  box-shadow: .2em .2em .2em .2em rgb(175, 170, 153);
  height: auto;
}

/* MY RECIPES PAGE -----------------------------------------------------------------------------------------------------*/
.myRecipeContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}

.myRecipeList{
  padding-top: 2em;
  padding-right: 2em;
  margin-left: 0em;
  background-color: rgb(42, 167, 158);
  align-self: stretch;
}

.myRecipeList li{
  padding-bottom: 10px;
  font-style: italic;
}

.myRecipeList ul {
  list-style: none;
}

.myRecipe {
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myRecipe img {
  max-width: 50%;
}

/* NAV BAR -----------------------------------------------------------------------------------------------------*/
.bg-dark {
  background-color: rgb(64, 66, 77) !important;
}

.navbar-dark .navbar-brand {
  color: white;
  font-size: 1.50em;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(143, 192, 169, 1);
  font-size: 1.20em;
}

.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link {
  color: rgb(42, 167, 158);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(200, 213, 185, 1);
}