/* Coolors Exported Palette - coolors.co/faf3dd-c8d5b9-8fc0a9-68b0ab-696d7d */

/* HSL */
$color1: hsla(46%, 74%, 92%, 1);
$color2: hsla(88%, 25%, 78%, 1);
$color3: hsla(152%, 28%, 66%, 1);
$color4: hsla(176%, 31%, 55%, 1);
$color5: hsla(228%, 9%, 45%, 1);

/* RGB */
$color1: rgba(250, 243, 221, 1);
$color2: rgba(200, 213, 185, 1);
$color3: rgba(143, 192, 169, 1);
$color4: rgba(104, 176, 171, 1);
$color5: rgba(105, 109, 125, 1);